* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #eee;
}

button {
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 60px;
}

.btns {
  display: flex;
  gap: 90px;
  justify-content: center;
  align-items: center;
}

.btn {
  border: solid 4px #eee;
  padding: 36px 36px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  padding: 44px 44px;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-size: 40px;
}

.scores {
  display: flex;
  justify-content: center;
  gap: 60px;
  font-size: 36px;
}

.round {
  align-self: center;
}

.reset {
  padding: 12px 30px;
  align-self: center;
  font-size: 30px;
}

.hidden {
  opacity: 0;
  visibility: 0;
}