* {
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #333;
  color: #eee;
}

button {
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 60px;
}

.btns {
  display: flex;
  gap: 90px;
  justify-content: center;
  align-items: center;
  transition: all 1.2s;
}

.btn {
  border: solid 4px #eee;
  padding: 36px 36px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  padding: 44px 44px;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-size: 40px;
}

.scores {
  display: flex;
  justify-content: center;
  gap: 100px;
  font-size: 36px;
}

.score {
  text-align: center;
}

.round {
  align-self: center;
}

.reset {
  padding: 12px 30px;
  cursor: pointer;
  align-self: center;
  font-size: 30px;
  transition: all 1.2s;
}

.hidden-left {
  transform: translate(-999px, 0px);
  overflow: hidden;
  opacity: 0;
}

.hidden-top {
  transform: translate(0px, -999px);
  overflow: hidden;
  opacity: 0;
}